<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdm.di.ubi.pt.tw_ilmanaque">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".Receiver">

            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="NOTIFICATION_SERVICE">

                </action>

            </intent-filter>

        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Atividades"
            android:label="Atividades"
            android:parentActivityName=".MainActivity"
            >

        </activity>

        <activity
            android:name=".Lembretes"
            android:label="Lembretes"
            android:parentActivityName=".MainActivity"
            >

        </activity>


        <activity
            android:name=".RegistoAtividades"
            android:label="RegistoAtividades"
            android:parentActivityName=".Atividades"
            >

        </activity>


        <activity android:name=".Calendario"
                  android:label="Calendário"
                  android:parentActivityName=".MainActivity"/>

        <activity android:name=".EditarAtividade"
            android:label="Editar Atividade"
            android:parentActivityName=".Atividades"/>

        <activity android:name=".Informacoes"
            android:parentActivityName=".MainActivity"
            android:label="Informacoes"/>

    </application>

</manifest>